<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    </head>
    <body>
    <div class="container-fluid 0px">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="d-flex align-items-center justify-content-center min-vh-100">
                    <%= image_tag('IMG_2757.JPG', class: "d-block w-100", alt: "Countryside in Collingwood") %>
                    <div class="carousel-caption">
                        <h1 class="welcome">Welcome to Picto Vault!</h1>
                        <% if current_user %>
                        You are logged in as <%= current_user.email %>.
                        <%= link_to "Log Out", 'logout', class: "nav-link" %>
                        <% else %>
                            <div class="welcome">
                                <%= link_to "Log In", 'login', class: "btn btn-dark" %> or
                                <%= link_to "Sign Up", 'signup', class: "btn btn-dark" %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex align-items-center justify-content-center min-vh-100">
                    <%= image_tag('IMG_1207.jpg', class: "d-block w-100", alt: "Countryside in Collingwood") %>
                    <div class="carousel-caption">
                        <h1 class="welcome">Welcome to Picto Vault!</h1>
                        <% if current_user %>
                        You are logged in as <%= current_user.email %>.
                        <%= link_to "Log Out", 'logout', class: "nav-link" %>
                        <% else %>
                            <div class="welcome">
                                <%= link_to "Log In", 'login', class: "btn btn-dark" %> or
                                <%= link_to "Sign Up", 'signup', class: "btn btn-dark" %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex align-items-center justify-content-center min-vh-100">
                    <%= image_tag('IMG_1352.jpg', class: "d-block w-100", alt: "Countryside in Collingwood") %>
                    <div class="carousel-caption">
                        <h1 class="welcome">Welcome to Picto Vault!</h1>
                        <% if current_user %>
                        You are logged in as <%= current_user.email %>.
                        <%= link_to "Log Out", 'logout', class: "nav-link" %>
                        <% else %>
                            <div class="welcome">
                                <%= link_to "Log In", 'login', class: "btn btn-dark" %> or
                                <%= link_to "Sign Up", 'signup', class: "btn btn-dark" %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex align-items-center justify-content-center min-vh-100">
                    <%= image_tag('flowers.jpg', class: "d-block w-100", alt: "Countryside in Collingwood") %>
                    <div class="carousel-caption">
                        <h1 class="welcome">Welcome to Picto Vault!</h1>
                        <% if current_user %>
                        You are logged in as <%= current_user.email %>.
                        <%= link_to "Log Out", 'logout', class: "nav-link" %>
                        <% else %>
                            <div class="welcome">
                                <%= link_to "Log In", 'login', class: "btn btn-dark" %> or
                                <%= link_to "Sign Up", 'signup', class: "btn btn-dark" %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
        </div>
    </div>
    </body>
</html>
