<p id="notice"><%= notice %></p>

<h1 class="message">My Pictures</h1>

<table>

  <tbody>
    <% @posts.each do |post| %>
      <div class="settings">
        Preview of: <%= post.title %>
        <%= post.description %>
        </br>
        <%= button_to 'See Post', post, class: "btn btn-outline-dark col-md-3" %>
        <%= link_to 'Edit Post', edit_post_path(post), class: "btn btn-outline-dark col-md-3" %>
        <%= link_to 'Delete Post', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-dark col-md-3" %>
        </br></br>
      </div>
      <div>
        <% post.uploads.first(3).each do |upload| %>
          <% if upload.variable? %>
            <%= link_to image_tag(upload.variant(resize: "400x400")), upload %>
            </br></br>
          <% end %>
          </br>
        <% end %>
      </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create a New Post', new_post_path, class: "btn btn-dark" %>